# Added, JCE, 24-10-2018
tcFarmControl
data/
data*
obj/*
test/
core
core*
http
http/
gitbackup/
jansson/
libmicrohttpd/
mongoose/
old/
#snap7*
snap7-iot-arm-1.4.2.tar.gz
snap7-iot-arm-1.4.2.tar.gz
snap7-iot-arm-1.4.2/build/temp/
snap7-full-1.4.2.7z
snap7-full-1.4.2/
tinyexpr/
data_backup/
version.h
build/*

config.json*
*.ignore
*.backup
*.swp

git_header.h
__pycache__/
config.json_*
